* {
	margin: 0;
	padding: 0;
	-webkit-font-smoothing: antialiased;
	text-rendering: optimizeLegibility;
	font-family: "Open Sans", sans-serif
}

html, body {
	width: 100%;
	height: 100%;
	color: #ffffff;
	position: relative;
}
html{
    overflow-x: hidden;
    overflow-y: scroll;
}

section {
	/*width: 60%;*/
	/*padding: 3% 20%;*/
	padding-left: 20%;
	padding-right: 20%;
	padding-bottom: 0;
	min-height: 100%;
	text-align: center;
	padding-top: 9%;
	z-index:10;
	position:relative;
}


#splash {
	background: url("../img/startupsemester2.jpg") no-repeat center center fixed;
	padding-top: 3%;
	padding-left: auto;
	padding-right: auto;
}


.logo {
	height: 50px;
	width: 50px;
	margin: 0 auto;
}


#splash header {
	margin: 0 auto;
	clear: both;
	box-sizing: border-box;
	padding-top: 26%;
}


#splash h1 {
	font-family: "Montserrat";
	font-size: 50px;
	text-transform: uppercase;
	border: 5px solid #ffffff;
	padding: 10px 20px;
	display: inline;
}

#splash .tagline {
	font-size: 36px;
	font-family: "stratum2";
	font-weight: 100;
	width: 43%;
	margin: 0 auto;
	padding-top: 30px;
}


#splash .arrow {
	display: block;
	height: 18px;
	width: 34px;
	margin: 0 auto;
	clear: both;
	position: absolute;
	bottom: 10px;
	margin-left: auto;
	margin-right: auto;
	left: 0;
	right: 0;
}

.bottom {
	position: absolute;
	bottom: 20px;
	margin-left: auto;
	margin-right: auto;
	left: 0;
	right: 0;
}

h2 {
	font-family: "Montserrat";
	font-size: 25px;
	text-transform: uppercase;
	border: 5px solid #ffffff;
	padding: 10px 20px;
	display: inline;	
}

.white-bg {
	color: #000000;
	background: #ffffff;
	z-index: 4;
}

.white-bg h2 {
	color: #000000;
	border: 5px solid #000000;
	margin-bottom: 30px;	
}

#mission dl {
	margin-top: 40px;
	text-align: left;
}

#mission article {
	width: 70%;
	margin: 0 auto;
	margin-bottom: 10%;
	padding-left:0;
	padding-right:0;
}

#mission .word {
	font-weight: bold;
	font-size: 30px;
}

#mission .pronunciation {
	font-weight: bold;
	font-size: 18px;
}

#mission .part-of-speech {
	margin-left: 15px;
	margin-top: 7px;
	font-style: italic;
}

#mission .definition {
	margin-left: 15px;
	margin-top: 7px;
}

#mission p {
	margin-left: 0;
	margin-top: 30px;
	font-size: 20px;
	line-height: 35px;
	text-align: justify;
}

#what-we-do {
	background: url("../img/bg.jpg") no-repeat center center fixed;
}

#press {
	background: #ffffff;
	min-height: 100%;
}

#press-grid {
	margin-top: 10%;
	padding-bottom: 10%;
}

#press-grid img{
	max-width: 300px;
	max-height: 100px
	filter: url(filters.svg#grayscale); /* Firefox 3.5+ */
    filter: gray; /* IE6-9 */
    -webkit-filter: grayscale(1); /* Google Chrome, Safari 6+ & Opera 15+ */
    -o-transition:.5s;
  	-ms-transition:.5s;
  	-moz-transition:.5s;
  	-webkit-transition:.5s;
  	/* ...and now for the proper property */
  	transition:.5s;
}

#press-grid img:hover {
	filter: none;
    -webkit-filter: grayscale(0);
}

#mailing-list {
	background: url("../img/3ds.jpg") no-repeat center center fixed;
	min-height: 100%;
	padding-bottom: 5%;
}
#mailing-list form {
	/*padding-top: 5%;*/
	margin-top: 23%;
}

#team {
	background: url("../img/3ds.jpg") no-repeat center center fixed;
}

#mailing-list .subscribe {
	display: none;
}

/*#mce-EMAIL {*/
.email-box {
	border: 0;
	height: 60px;
	width: 90%;
	font-size: 25px;
	padding: 0 10px;
	outline: none;
}
#faq {
	min-height: 0;
}

#faq dl {
	margin-top: 5%;
	text-align: left;
	padding-bottom: 10%;
}

#faq dl dt {
	font-weight: bold;
}

#faq dl dd {
	margin-bottom: 10px;
}


.team-wrapper {
		margin: 0 auto;
        margin-top: 10%;
        overflow: hidden;
        padding-bottom: 10%;
}

.team-member {
        width: 150px;
        height: 150px;
        float: left;
        margin: 5px;
        background: #000;
        border: 2px solid #fff;
        position: relative;
        z-index: 1;
}

.team-member img {
        width: auto;
        height: 100%;
}

.team-member h2 {
        border: none;
        text-align: center;
        padding: 0;
        margin: 0;
        font-size: 22px;
}

.team-member-image {
        width: 150px;
        height: 150px;
        overflow: hidden;
}

.team-member-details {
        background: rgba(0,0,0,0.75);
        display: none;
        position: absolute;
        width: 130px;
        height: 110px;
        padding: 30px 10px 10px 10px;
        top: 0;
        left: 0;
}

.team-member-sub {
		color: #000000;
		line-height: 30px;
		background: #ffffff;
        position: absolute;
        width: 130px;
        height: 30px;
        padding: 0 10px 0 10px;
        bottom: 0;
        left: 0;
}

/* Calendar */
.cal-event{
    margin-top: 50px;
}

/* Contact */
#contact {
	background: url("../img/contact.jpg") no-repeat center center fixed;
}

#contact-email {
    margin-top: 50px;
}

#contact-submit {
    font-size: 30px;
    opacity: 0.25;
    cursor: pointer;
}

#btn_contact_submit .arrow {
    position: relative;
    top: -42px;
    left: 82px;
    width: 25px;
    height: auto;
    opacity: 0.10;
}
#txt_captcha{
    width: 80%;
    margin: 0px;
    display: inline-block;
}
#refresh_captcha{
    padding: 8px;
    margin-left: 10px;
    margin-bottom: 3px;
}
.email-msg{
    border: 0px;
    height: 300px;
    font-size: 15px;
    padding: 12px 10px;
    outline: none;
    margin-top: 40px;
    resize: none;
}


#logo-bg{
    background: #333333;
    border-color: rgba(0, 0, 0, 0.15);
    border-width: 1px;
    border-style: solid;
    position: fixed;
    width:60px;
    height:60px;
    z-index:5;
}
#logo{
    position:fixed;
    z-index:99;
}
#logo img{
    margin: 15px;
}

.no-mobile{
    display: block !important;
}
.mobile-only{
    display: none !important;
}
