* {
	margin: 0;
	padding: 0;
	-webkit-font-smoothing: antialiased;
	text-rendering: optimizeLegibility;
	font-family: "Open Sans", sans-serif
}

a img {
	border: none;
}

a {
	color: #008cba;
	text-decoration: none;
	line-height: inherit;
}

img {
	display: inline-block;
	vertical-align: middle;
}

img {
	-ms-interpolation-mode: bicubic;
}

img, object, embed {
	max-width: 100%;
	height: auto;
}

html, body {
	width: 100%;
	height: 100%;
	color: #ffffff;
	position: relative;

}

section {
	width: 60%;
	padding: 3% 20%;
	padding-bottom: 0;
	min-height: 100%;
	text-align: center;
	padding-top: 5%;
}


#splash {
	background: url("../img/startupsemester2.jpg") no-repeat center center fixed;
	padding-top: 3%;
}


#logo {
	height: 50px;
	width: 50px;
	margin: 0 auto;
	margin-top: 5px;
}

#splash ul #li-logo {
	line-height: 50px;
}

#splash ul {
	list-style: none;
	z-index: 999;
}

#splash ul li {
	float: left;
	line-height: 60px;
	margin-right: 20px;
	font-family: "stratum2";
	text-transform: uppercase;
}

#splash ul li a {
	color: #ffffff;
	text-decoration: none;
	padding-bottom: 6px;
}

#splash ul li.social a {
	font-family: "Socialico";
	text-transform: none;
	font-size: 20px;
	line-height: 65px
}

#splash ul li a:hover {
	position: relative;
	bottom: 2px;
}

#splash header {
	width: 80%;
	margin: 0 auto;
	clear: both;
	box-sizing: border-box;
	padding-top: 20%;
}


#splash h1 {
	font-family: "Montserrat";
	font-size: 50px;
	text-transform: uppercase;
	border: 5px solid #ffffff;
	padding: 10px 20px;
	display: inline;
}

#splash .tagline {
	font-size: 36px;
	font-family: "stratum2";
	font-weight: 100;
	width: 600px;
	margin: 0 auto;
	padding-top: 30px;
}


#splash .arrow {
	display: block;
	height: 18px;
	width: 34px;
	margin: 0 auto;
	clear: both;
	position: absolute;
	bottom: 10px;
	margin-left: auto;
	margin-right: auto;
	left: 0;
	right: 0;
}

.bottom {
	position: absolute;
	bottom: 20px;
	margin-left: auto;
	margin-right: auto;
	left: 0;
	right: 0;
}

h2 {
	font-family: "Montserrat";
	font-size: 25px;
	text-transform: uppercase;
	border: 5px solid #ffffff;
	padding: 10px 20px;
	display: inline;	
}

.white-bg {
	color: #000000;
	background: #ffffff;
}

.white-bg h2 {
	color: #000000;
	border: 5px solid #000000;
	margin-bottom: 30px;	
}

#mission dl {
	margin-top: 40px;
	text-align: left;
}

#mission article {
	width: 50%;
	margin: 0 auto;
	margin-bottom: 10%;
}

#mission .word {
	font-weight: bold;
	font-size: 30px;
}

#mission .pronunciation {
	font-weight: bold;
	font-size: 18px;
}

#mission .part-of-speech {
	margin-left: 15px;
	margin-top: 7px;
	font-style: italic;
}

#mission .definition {
	margin-left: 15px;
	margin-top: 7px;
}

#mission p {
	margin-left: 0;
	margin-top: 30px;
	font-size: 20px;
	line-height: 35px;
	text-align: justify;
}

#what-we-do {
	background: url("../img/bg.jpg") no-repeat center center fixed;
}

#press {
	background: #ffffff;
	min-height: 0;
}

#press-grid {
	margin-top: 10%;
	padding-bottom: 10%;
}

#press-grid img {
	max-width: 300px;
	max-height: 100px filter: url(filters.svg#grayscale);
	filter: gray;
	-webkit-filter: grayscale(1);
	-o-transition: .5s;
	-ms-transition: .5s;
	-moz-transition: .5s;
	-webkit-transition: .5s;
	transition: .5s;
	padding: 20px;
}

#press-grid img:hover {
	filter: none;
    -webkit-filter: grayscale(0);
}

#mailing-list {
	background: url("../img/3ds.jpg") no-repeat center center fixed;
	min-height: 0;
	padding-bottom: 5%;
}
#mailing-list form {
	padding-top: 5%;
}

#team {
	background: url("../img/3ds.jpg") no-repeat center center fixed;
}

#mailing-list .subscribe {
	display: none;
}

#mce-EMAIL {
	border: 0;
	height: 60px;
	width: 90%;
	font-size: 25px;
	padding: 0 10px;
	outline: none;
}
#faq {
	min-height: 0;
}

#faq dl {
	margin-top: 5%;
	text-align: left;
	padding-bottom: 10%;
}

#faq dl dt {
	font-weight: bold;
}

#faq dl dd {
	margin-bottom: 10px;
}


.team-wrapper {
		width: 660px;
		margin: 0 auto;
        margin-top: 5%;
        overflow: hidden;
        padding-bottom: 10%;
}

.team-member {

	width: 120px;
	height: 120px;
	float: left;
	margin: 5px;
	position: relative;
	z-index: 1;
	padding: 15px;
}

.team-member img {
        width: auto;
        height: 100%;
        border-radius: 9999px;
}

.team-member h2 {
        border: none;
        text-align: center;
        padding: 0;
        margin: 0;
        font-size: 22px;
}

.team-member-image {
        width: 120px;
        height: 120px;
        overflow: hidden;
	border: 2px solid #ffffff;
        border-radius: 9999px;
}

.team-member-details {        
		border-radius: 9999px;
        background: rgba(0,0,0,0.75);
        display: none;
        position: absolute;
        width: 100px;
        height: 90px;
        padding: 30px 10px 0 10px;
	top: 17px;
	left: 17px;

        font-size: 10px;
        overflow: scroll;
}

.team-member-details h2{
	font-size: 15px;
}

.team-member-sub {
	display: none;
		color: #000000;
		line-height: 30px;
		background: #ffffff;
        position: absolute;
        width: 130px;
        height: 30px;
        padding: 0 10px 0 10px;
        bottom: 0;
        left: 0;
}

.cal-event{
    margin-top: 50px;
}

#calendar p {
	margin-top: 5%;
}